.main-block {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    padding: 50px;
}

.inline-block {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: magenta;
    margin: 20px;
    text-align: center;
}

body {
    /* background-image: url(../bangalore.jpg); */

}