#quickSearch {
    width: 80%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
}

#quickHeading {
    margin-left: 2%;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #192F60;
    display: block;
}

#quickHeading:hover {
    font-size: 50px;
}

#quicksubHeading {
    text-align: left;
    color: #8C96AB;
    font-size: 18px;
    margin-left: 2%;
}

.tileContainer {
    float: left;
    width: 30%;
    height: 150px;
    box-shadow: 10px 20px 15px rgb(70, 68, 68);
    margin-left: 5%;
    margin-top: 5%;
}


.tileItem1 {
    float: left;
}

.tileItem1>img {
    width: 150px;
    height: 150px
}

.tileItem2 {
    float: left;
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.tileheading {
    font-size: 20px;
    color: #192F60;
}

.tilesubHeading {
    font-size: 16px;
    float: left;
    margin-left: 45%;
    margin-top: -25%;
}